In [1]:
def city_ganerator():
    city_name=["Banglore","Kolkata","Dehli","Mumbai"]
    for i in city_name:
        str1="Welcome " +i
    return str1

In [2]:
city_ganerator()

'Welcome Mumbai'

In [3]:
def city_generator_y():
    city_name=["Banglore","Kolkata","Dehli","Mumbai"]
    for i in city_name:
        str1="Welcome " +i
        yield str1

In [4]:
cgy = city_generator_y()

In [5]:
next(cgy)

'Welcome Banglore'

In [6]:
def fibonacci(max1):
    a,b = 0,1
    while a < max1:
        yield a
        a,b = b, a+b

In [7]:
f=fibonacci(10)

In [8]:
next(f)

0

In [9]:
for fib in fibonacci(9):
    print(fib)

0
1
1
2
3
5
8

In [10]:
type(fib)

int

In [11]:
l=list(range(10))

In [12]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
type(l)

list

In [14]:



list1=[x ** 2 for x in range(10)]
list1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
for i in l:
    l1=(i+10)*100
    print(l1)

1000
1100
1200
1300
1400
1500
1600
1700
1800
1900

In [16]:
li2=[]
for i in l:
    l1=(i+10)*100
    li2.append(l1)
    print(l1)

1000
1100
1200
1300
1400
1500
1600
1700
1800
1900

In [17]:
li2

[1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900]

In [18]:
print(l)
li2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900]

In [19]:
a,b= 10,15
a,b

(10, 15)

In [20]:
while a< b:
    print("a is less than b")
    a= a + 1
    print(a)

a is less than b
11
a is less than b
12
a is less than b
13
a is less than b
14
a is less than b
15

In [21]:

while True:
    print(" a and b is not equal",a,b)
    if(a==b):
        print(a,"is equal to",b)
        break
    else:
        a=a+1

 a and b is not equal 15 15
15 is equal to 15

In [22]:



list1=[i for i in range(50) if i%5 ==0]
list1

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [23]:
iter_obj=iter(list1)

In [24]:
next(iter_obj)*10

0

In [25]:
for i in range(0,50,5):
    print(i*10)
    
    z=i*10

0
50
100
150
200
250
300
350
400
450

In [26]:
iter_obj=iter(list1)
iter_obj

In [27]:
next(iter_obj)*10

0

In [28]:
next(iter_obj)*10

50

In [29]:
def PCMB(p,c,*s):
    print("First-->",s)
    print("Second====>",*s)
    print(type(s))
    total = p+c
    for i in s:
        total + int(i)
    return total

In [30]:
PCMB(10,10,20,20,20)

First--> (20, 20, 20)
Second====> 20 20 20
<class 'tuple'>

20

In [31]:
def acpt_dict(**a):
    print(a)

In [32]:
acpt_dict(a=100,b=200,c=400)

{'a': 100, 'b': 200, 'c': 400}